tests_prg/__pycache__/test_holidays.cpython-38-pytest-5.4.1.pyc
tests_prg/__pycache__/test_kostky.cpython-38-pytest-5.4.1.pyc
tests_prg/__pycache__/test_secteni.cpython-38-pytest-5.4.1.pyc
tests_prg/__pycache__/test_secteni.cpython-38-pytest-5.4.1.pyc
tests_prg/__pycache__/test_secteni.cpython-38-pytest-5.4.1.pyc
__pycache__/secteni.cpython-38.pyc
__pycache__/kostky.cpython-38.pyc
__pycache__/isholiday.cpython-38.pyc
